@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Gujarati', sans-serif;
    transition:  all 0.4s ease;
}

/* colours */

:root {
    --body-color: #fff;
    --nav-color: #0bc2cc;
    --side-nav: #2a2b30;
    --text-color: #fff;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --point-thinkpad: #11eaf4;

}

body {
    height: 100vh;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark {
    --body-color: #000;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav {
    border:  1px solid #393838;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding:  0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 35px;
    font-weight: 500;
    color:  var(--text-color);
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:  var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i {
    position: absolute;
    color: var(--text-color);
    font-size: 27px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}



@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .logo.navLogo {
        display: none;
    }
    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition:  all 0.4s ease;
    }

    nav.active .menu {
        left:  -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition:  all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items:  center;
        justify-content: space-between;
    }

    .logo-toggle .sidebarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }

   
}


/* loading effect in css */ 
.loading-wrapper {
    animation: changeColor linear 4s infinite;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    z-index: 1000;
}

.loading {
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 15px solid #00ffff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate1 linear 2s infinite;
}

.loading::before {
    position: absolute;
    content: '';
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    border-radius: 50%;
    border: 15px solid #00ffff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: rotate2 linear 2s infinite;
    
}




@keyframes changeColor{
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(-360deg);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-720deg);
    }
}
/* end loading in css */

.home-session h1{
    font-size: 4rem;
    text-align: center;
}

.home-session.dark {
    color: var(--text-color);
}
.home-session p {
    text-align: center;
    font-size: 1.6rem;
}

/* home session */

/* end home session */